<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/css/user.css"/>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    </head>

    <body>
        <div class="commonContainer">
            <form name="userForm" class="userForm">
                <label>ID<input name="id" readonly/></label>
                <label>name<input name="name"/></label>
            </form>
            <div class="controlButtonPanel">
                <button id="saveUserButton"><img src="/imgs/save.svg"/>Save</button>
                <button id="backButton"><img src="/imgs/back.svg"/>Back</button>
            </div>
        </div>

        <script src="/js/user.js"></script>
    </body>
</html>