<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/css/users.css"/>
    </head>

    <body>
        <table class="usersTable">
            <caption>Users</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody id="usersTableBody">
            </tbody>
        </table>

        <script src="/js/users.js"></script>
    </body>
</html>